@import "tailwindcss";

.root {
  color: rgba(255, 255, 255, 255);
  font-family: monospace;
}

@theme {
  --color-orange-web: #ffad33;
  --color-engineer-orange: #b81f14;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.overlay-visible {
  opacity: 1 !important;
  pointer-events: auto !important;
}
